<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>
    </head>
    <body>
        <h1>Homepage</h1>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Perspiciatis, eum? Autem sapiente, nostrum magnam earum fuga ipsum
            culpa minus architecto praesentium qui quidem error perspiciatis
            recusandae vel, pariatur, quis dolorum.</p>
    </body>
</html>
