{% extends "index.html" %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.password.label }}
        {{ form.password(size=32) }}
        {% for i in form.password.errors %}
        <span style="color: red">[ {{i}} ]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.repeat_password.label }}
        {{ form.repeat_password(size=32) }}
        {% for i in form.repeat_password.errors %}
        <span style="color: red">[ {{i}} ]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>
{% endblock %}
